<mat-card>
    <mat-card-header>
        <mat-card-title>Eventos</mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card>
    <button mat-flat-button color="primary" aria-label="Cadastrar uma nova Situação" [routerLink]="'/evento/create/'">
        <mat-icon>add</mat-icon>
    </button>
</mat-card>
<mat-card>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Distribuição" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="cd_evento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
            <td mat-cell *matCellDef="let element"> {{element.cd_evento}} </td>
        </ng-container>
        <ng-container matColumnDef="ds_evento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
            <td mat-cell *matCellDef="let element"> {{element.ds_evento}} </td>
        </ng-container>
        <ng-container matColumnDef="ind_tipo_especial">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Especial</th>
            <td mat-cell *matCellDef="let element"> {{getDsTipoEspecial(element.ind_tipo_especial)}} </td>
        </ng-container>
        <ng-container matColumnDef="operacao">
            <th mat-header-cell *matHeaderCellDef>Operações</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="basic" aria-label="Remover"
                    [routerLink]="['/evento/update/', element.id_evento]">
                    <mat-icon>edit</mat-icon>
                </button>
                <span class="sep"></span>
                <button mat-flat-button color="basic" aria-label="Remover" (click)="excluir(element.id_evento)">
                    <mat-icon>delete</mat-icon>
                </button>
                <span class="sep"></span>
                <button mat-flat-button color="basic" aria-label="Exibir Movimentos" title="Ver Movimentos" (click)="exibirMovimentos(element.id_evento)">
                    <mat-icon>line_weight</mat-icon>
                </button>              
                <button mat-flat-button color="basic" aria-label="Adicionar Movimentos" title="Adicionar Movimentos" (click)="adicionarMovimentos(element)">
                    <mat-icon>add</mat-icon>
                </button>                          
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>