<mat-card>
    <mat-card-title>Cadastro de Eventos</mat-card-title>
    <form [formGroup]="eventoForm" (ngSubmit)="submitForm()" novalidate>
        <mat-form-field appearance="fill">
            <label>Código Evento</label>
            <input matInput placeholder="Ex. SUS" formControlName="cd_evento" class="form-control">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Descrição do Evento</label>
            <input matInput placeholder="Ex. Suspenso ou Sobreestado" formControlName="ds_evento" class="form-control"
                maxlength="300">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Tipo Especial</label>
            <mat-select formControlName="ind_tipo_especial">
                <mat-option *ngFor="let tipo of indTipoEspecial" [value]="tipo.value">
                    {{tipo.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" aria-label="Voltar" [routerLink]="'/evento'">
                <mat-icon>backspace </mat-icon>
            </button>
            <span class="sep"></span>
            <button mat-flat-button color="primary" aria-label="Cadastrar um novo evento" type="submit">
                <mat-icon>save</mat-icon>
            </button>
            <span class="sep"></span>
                <button [hidden]="!id_evento" mat-flat-button color="primary" title="Adicionar Movimentos"
                    aria-label="Vincular movimentos" type="button" (click)="adicionarMovimentos()">
                    <mat-icon>add</mat-icon>
                </button>
                <span class="sep"></span>
                <button [hidden]="!id_evento" mat-flat-button color="primary" title="Adicionar Movimentos"
                    aria-label="Visualizar movimentos" type="button" (click)="exibirMovimentos()">
                    <mat-icon>line_weight</mat-icon>
                </button>
        </div>
    </form>
</mat-card>