<img src="/../assets/img/back.png" class="img-fluid" alt="Responsive image">

<h2  class="text-center">Time 16 - Desafio 2</h2>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h4>Descrição do problema</h4>
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Descrição
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4>Solução Proposta</h4>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                  Descrição
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4>Equipe</h4>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <div class="card-group">
                        <div class="card">
                          <img class="card-img-top" src="/../assets/img/unnamed.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Lucas Bibiano</h5>
                            <p class="card-text">Papel, especialidade</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">E-mail: </small>
                          </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="/../assets/img/unnamed.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Rogélio</h5>
                            <p class="card-text">Papel, especialidade</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">E-mail: </small>
                          </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="/../assets/img/unnamed.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Gustavo</h5>
                            <p class="card-text">Papel, especialidade</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">E-mail: </small>
                          </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="/../assets/img/unnamed.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">Thiago</h5>
                            <p class="card-text">Papel, especialidade</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">E-mail: </small>
                          </div>
                        </div>
                        <div class="card">
                          <img class="card-img-top" src="/../assets/img/unnamed.png" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">José Humberto Cruvinel</h5>
                            <p class="card-text">Papel, especialidade</p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">E-mail: josehcr@trt3.jus.br</small>
                          </div>
                        </div>    
                      </div>
                    
                  </div>
                </div>
            </div>
