<mat-card>
    <mat-card-header>
        <mat-card-title>Análise de Processos - Escolha a situação abaixo e aguarde:</mat-card-title>
    </mat-card-header>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Número" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="nu_processo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Número</th>
            <td mat-cell *matCellDef="let element"> {{formatProcesso(element.cd_processo)}} </td>
        </ng-container>
        <ng-container matColumnDef="cd_processo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
            <td mat-cell *matCellDef="let element"> {{element.cd_processo}} </td>
        </ng-container>
        <ng-container matColumnDef="cd_classe">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Classe</th>
            <td mat-cell *matCellDef="let element"> {{element.cd_classe}} </td>
        </ng-container>
        <ng-container matColumnDef="sg_tribunal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tribunal</th>
            <td mat-cell *matCellDef="let element"> {{element.sg_tribunal}} </td>
        </ng-container>
        <ng-container matColumnDef="sg_grau">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Grau</th>
            <td mat-cell *matCellDef="let element"> {{element.sg_grau}} </td>
        </ng-container>
        <ng-container matColumnDef="ds_orgao_julgador">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Órgão Julgador</th>
            <td mat-cell *matCellDef="let element"> {{element.ds_orgao_julgador}} </td>
        </ng-container>
        <ng-container matColumnDef="ind_presidencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Processo da presidência</th>
            <td mat-cell *matCellDef="let element"> {{element.ind_presidencia == 'S' ? 'Sim' : 'Não'}} </td>
        </ng-container>
        <ng-container matColumnDef="dt_autuacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data da Autuação</th>
            <td mat-cell *matCellDef="let element"> {{element.dt_autuacao | date:'dd/MM/yyyy H:mm:ss'}} </td>
        </ng-container>
        <ng-container matColumnDef="operacao">
            <th mat-header-cell *matHeaderCellDef>Operações</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="basic" aria-label="Detalhar"
                    [routerLink]="['/processosituacao/detalhe/', element.cd_processo]">
                    <mat-icon>zoom_in</mat-icon>
                </button>
                <span class="sep"></span>
                <button mat-flat-button color="basic" aria-label="Refresh"
                    (click)="refresh(element.sg_tribunal,element.sg_grau,element.cd_processo)">
                    <mat-icon>refresh</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</mat-card>