<mat-card>
    <mat-card-header>
        <mat-card-title>Atualização de Grupos</mat-card-title>
    </mat-card-header>    <form [formGroup]="grupoForm" (ngSubmit)="submitForm()" novalidate>
        <mat-form-field appearance="fill">
            <label>Código Grupo</label>
            <input matInput placeholder="Ex. CR" formControlName="cd_grupo" class="form-control">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Descrição do Grupo</label>
            <input matInput placeholder="Ex. Concluso com o Relator" formControlName="ds_grupo" class="form-control"
                maxlength="20">
        </mat-form-field>
        <mat-form-field appearance="fill" style="display: none;">
            <label>Tribunal</label>
            <input matInput placeholder="Ex. TRT3" formControlName="sg_tribunal" class="form-control" maxlength="20">
        </mat-form-field>
        <mat-form-field appearance="fill"  style="display: none;">
            <label>Grau</label>
            <input matInput placeholder="Ex. G1 ou G2 ou SUP" formControlName="sg_grau" class="form-control">
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" aria-label="Voltar" [routerLink]="'/grupo'">
                <mat-icon>backspace </mat-icon>
            </button>
            <span class="sep"></span>
            <button mat-flat-button color="primary" aria-label="Cadastrar um novo Grupo" type="submit">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</mat-card>