<mat-card>
    <mat-card-title>Cadastro de Situações</mat-card-title>
    <form [formGroup]="situacaoForm" (ngSubmit)="submitForm()" novalidate>
        <mat-form-field appearance="fill">
            <label>Código Situação</label>
            <input matInput placeholder="Ex. CCDD" formControlName="cd_situacao" class="form-control">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Descrição da Situação</label>
            <input matInput placeholder="Ex. Concluso para Despacho" formControlName="ds_situacao" class="form-control"
                maxlength="20">
        </mat-form-field>
        <div>
            <button mat-flat-button color="primary" aria-label="Voltar" [routerLink]="'/situacao'">
                <mat-icon>backspace </mat-icon>
            </button>
            <span class="sep"></span>
            <button mat-flat-button color="primary" aria-label="Cadastrar uma nova Situação" type="submit">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</mat-card>