<h1>Situações</h1>
<button type="button" [routerLink]="'/situacao/create/'">Adicionar uma nova Situação</button>

<div class="table-responsive-lg">
    <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">ind_principal</th>
        <th scope="col">ds_situacao</th>
        <th scope="col">sg_tribunal</th>
        <th scope="col">ind_ri</th>
        <th scope="col">id_situacao</th>
        <th scope="col">cd_situacao</th>
        <th scope="col">sg_grau</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of situacoes">
            <th scope="row">{{ o.ind_principal }}</th>
            <td>{{ o.ds_situacao }}</td>
            <td>{{ o.sg_tribunal }}</td>
            <td>{{ o.ind_ri }}</td>
            <td>{{ o.id_situacao }}</td>
            <td>{{ o.cd_situacao }}</td>
            <td>{{ o.sg_grau }}</td>
        </tr>
    </tbody>
</table>
</div>