<mat-card>
    <mat-card-header>
        <mat-card-title>Detalhe do Processo {{ cd_processo }}</mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card>
    <button mat-flat-button color="primary" aria-label="Voltar" (click)="back()">
        <mat-icon>west</mat-icon>
    </button>
</mat-card>
<mat-card>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Evento" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="id_hist_situacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id_hist_situacao}} </td>
        </ng-container>
        <ng-container matColumnDef="dt_ocorrencia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data da Ocorrência</th>
            <td mat-cell *matCellDef="let element"> {{element.dt_ocorrencia}} </td>
        </ng-container>
        <ng-container matColumnDef="ds_situacao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação Origem</th>
            <td mat-cell *matCellDef="let element"> {{element.ds_situacao}} </td>
        </ng-container>
        <ng-container matColumnDef="ds_situacao_2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação Destino</th>
            <td mat-cell *matCellDef="let element"> {{element.ds_situacao_2}} </td>
        </ng-container>
        <ng-container matColumnDef="ds_evento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Evento</th>
            <td mat-cell *matCellDef="let element"> {{element.ds_evento}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-row-red': row.ind_consistente == 'S' }"></tr>
    </table>
</mat-card>