<mat-card>
    <mat-card-header>
        <mat-card-title>Transições do Fluxo</mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card>
    <button mat-flat-button color="primary" aria-label="Cadastrar um novo Fluxo" [routerLink]="'/fluxoprincipal/create/'">
        <mat-icon>add</mat-icon>
    </button>
    <span class="sep"></span>
    <a mat-flat-button color="primary" title="Ver Fluxo (Gráfico Hierárquico)" aria-label="Cadastrar um novo Fluxo"
        [routerLink]="'/visual3'" target="_blank">
        <mat-icon>bubble_chart</mat-icon>
    </a>
</mat-card>
<mat-card>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Baixado" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="situacao_origem">
            <th mat-header-cell *matHeaderCellDef>Situação de Origem</th>
            <td mat-cell *matCellDef="let element"> {{[element.cd_situacao,element.ds_situacao].join(' - ')}} </td>
        </ng-container>
        <ng-container matColumnDef="evento">
            <th mat-header-cell *matHeaderCellDef>Evento</th>
            <td mat-cell *matCellDef="let element"> {{[element.cd_evento,element.ds_evento].join(' - ')}} </td>
        </ng-container>
        <ng-container matColumnDef="situacao_destino">
            <th mat-header-cell *matHeaderCellDef>Situação de Destino</th>
            <td mat-cell *matCellDef="let element"> {{[element.cd_situacao_2,element.ds_situacao_2].join(' - ')}} </td>
        </ng-container>
        <ng-container matColumnDef="grupo">
            <th mat-header-cell *matHeaderCellDef>Grupo</th>
            <td mat-cell *matCellDef="let element"> {{element.ds_grupo}} </td>
        </ng-container>
        <ng-container matColumnDef="consistente">
            <th mat-header-cell *matHeaderCellDef>Consistente</th>
            <td mat-cell *matCellDef="let element"> {{element.ind_consistente == 'S' ? 'Sim' : 'Não'}} </td>
        </ng-container>
        <ng-container matColumnDef="efetiva">
            <th mat-header-cell *matHeaderCellDef>Efetiva</th>
            <td mat-cell *matCellDef="let element"> {{element.ind_efetiva == 'S' ? 'Sim' : 'Não'}} </td>
        </ng-container>        
        <ng-container matColumnDef="operacao">
            <th mat-header-cell *matHeaderCellDef>Operações</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="basic" aria-label="Alterar" style="display:none"
                    [routerLink]="['/fluxoprincipal/update/', element.id_fluxo_movimento]">
                    <mat-icon>edit</mat-icon>
                </button>
                <span class="sep"></span>
                <button mat-flat-button color="basic" aria-label="Remover"
                    (click)="excluir(element.id_fluxo_movimento)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="10" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</mat-card>