<h1>Fluxo Principal</h1>
<form>
    <div class="form-row">
        <div class="col">
            <select class="form-control" (change)="onChangeTribunal($event.target.value)" [(ngModel)]="tribunal" name="tribunal">
                <option *ngFor="let t of tribunais" [value]="t.sg_tribunal">Órgão: {{t.sg_tribunal}}</option>
            </select>
        </div>
        <div class="col">
            <select class="form-control" (change)="onChangeGrau($event.target.value)" [(ngModel)]="grau" name="grau">
                <option *ngFor="let g of graus" [value]="g.sg_grau">Grau: {{g.sg_grau}}</option>
            </select>
        </div>
    </div>
</form>
<div class="table-responsive-lg">
    <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">id_evento</th>
        <th scope="col">ind_consistente</th>
        <th scope="col">id_fluxo_movimento</th>
        <th scope="col">ind_fluxo_ri</th>
        <th scope="col">sg_tribunal</th>
        <th scope="col">Situação Origem</th>
        <th scope="col">Situação Destino</th>
        <th scope="col">ind_efetiva</th>
        <th scope="col">id_grupo</th>
        <th scope="col">sg_grau</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of fluxoprincipal">
            <th scope="row">{{ o.id_evento }}</th>
            <td>{{ o.ind_consistente }}</td>
            <td>{{ o.id_fluxo_movimento }}</td>
            <td>{{ o.ind_fluxo_ri }}</td>
            <td>{{ o.sg_tribunal }}</td>
            <td>{{ getDsSituacao(o.id_situacao_origem) }}</td>
            <td>{{ getDsSituacao(o.id_situacao_destino) }}</td>
            <td>{{ o.ind_efetiva }}</td>
            <td>{{ o.id_grupo }}</td>
            <td>{{ o.sg_grau }}</td>
        </tr>
    </tbody>
</table>



 <div class="d3-chart" id="mobileD3"></div>